.main-alert {
    margin-top: 5rem;
    min-height: 10rem;
}

.alert-title {
    text-align: center;
    color: #ff0f0f;
    animation: alert 0.8s infinite
}

@keyframes alert {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
    }
}

.no-alert-title {
    text-align: center;
    color: green;
}

.alert-container {
    padding: 2rem;
    margin: 3rem;
    border: 0.3rem solid #ff0f0f;
    border-radius: 1rem;
}

p {
    text-align: justify;
}

.back {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

.back-to-top {
    color: var(--blackTheme);
    width: 10rem;
    height: 3.5rem;
    border: 0.2rem solid var(--blackTheme);
    border-radius: 0.5rem;
    background-color: orange;
}

.back-to-top:hover {
    color: var(--blackTheme);
    width: 10rem;
    height: 3.5rem;
    border: 0.2rem solid var(--blackTheme);
    border-radius: 0.5rem;
    background-color: orangered;
}